@import 'sass/mixinsvars.scss';

.favorites {
  @include flexMain;
  width: 100%;
  margin: 10px 0 10px 0;
}

.favMargin {
  margin: 5px 0 0 0 !important;
}

.fav-inside {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  left: 0;
  margin: 5px 0 0 0;
  overflow: hidden;
  transition: all 200ms;
  .svgImg {
    opacity: 0.4;
    width: 60px;
    fill: var(--white);
    padding: 10px 10px 0 10px;
    transition: transform 500ms ease;
    cursor: pointer;
    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
    svg {
      fill: #fff !important;
    }
  }
  @media only screen and (max-height: 735px) {
    position: relative !important;
  }
}
.fav-inside-open {
  height: 50px;
}
.fav-inside-hidden {
  height: 0px;
}
