.courses_done {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 40px 0px;
}
.courses_done__image {
  width: 30%;
  margin: 20px auto;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
  border-radius: 20px;
  &:hover {
    transform: scale(2);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
}
a {
  color: var(--white) !important;
}
.about-description {
  svg {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    fill: var(--white);
    transition: all 200ms;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.title-cv {
  font-size: 1.2rem;
}
