@import 'sass/mixinsvars.scss';

label {
  display: flex !important;
  margin: 0 20px 0 20px !important;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  cursor: pointer;
  position: relative;
  transition: all 300ms;
  svg {
    fill: var(--white);
    height: 18px;
    width: 18px;
    transition: all 300ms;
  }
  .bg-select {
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 0;
  }
  &:hover {
    @include neomorphBoxHover;
  }
  &:hover svg {
    transform: scale(1.1);
  }
}
.remove-bg {
  color: var(--white);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  .remove-bg-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    svg {
      width: 22px;
      height: 22px;
      fill: var(--white);
    }
  }
}
.tooltip-own-bg {
  font-size: 1.1rem;
  color: var(--white);
}
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50vh;
  right: 50vw;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  transform: translate(50%, -50%);
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.2);
  width: 320px;
  height: 200px;
  z-index: 999999;
  h2 {
    color: var(--white);
    opacity: 0.6;
    margin: 0;
    svg {
      width: 100px;
      height: 100px;
    }
  }
}
