@import "../sass/style.scss";

.social {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
  & ul {
    padding: 0;
    margin: 0;
    & a {
      & li {
        display: flex;
        color: $white;
        opacity: 0.8;
        list-style: none;
        width: 225px;
        & p {
          padding: 0 5px 0 5px;
          margin: 0;
          font-size: 2.5rem;
          @media (orientation: portrait) {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
.social ul a {
  & .txtOrigin {
    margin-left: -20px;
    transition: padding-left 300ms ease, opacity 300ms ease, filter 300ms ease;
  }
  &:hover .faOrigin {
    @include flexMain;
    padding-left: calc((225px / 2) - (35px / 2));
    opacity: 1;
    transition: padding-left 300ms ease, opacity 300ms ease;
    text-align: center;
  }
  &:hover .txtOrigin {
    opacity: 0;
    filter: blur(50px);
  }
  & .faOrigin {
    opacity: 0;
  }
}
.feedback {
  text-align: center;
}
// Mail Form
.mail {
  @include flexMain;
  flex-direction: column;
  & form {
    @include flexMain;
    flex-direction: column;
    & input:-internal-autofill-selected {
      -webkit-appearance: menulist-button;
      background-color: rgba(232, 240, 254, 0.5) !important;
      background-image: none !important;
      color: -internal-light-dark-color(black, white) !important;
    }
    & .formInner {
      margin: 5px 0 5px 0;
      width: 20vw;
      @media (max-width: 1024px) {
        width: 70vw;
      }
    }
  }
}
.spam {
  display: none;
}

.sendButton {
  margin: 20px 0 0 0;
}

input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
  width: 0 !important;
}
input[type="file"] {
  padding-top: 6px !important;
  padding-left: 20px !important;
  cursor: pointer;
  opacity: 0.8;
}

.icon {
  position: relative;
  & .userName,
  .userPhone,
  .userMail,
  .userMessage,
  .userAttach {
    position: absolute;
    margin: 18px 15px;
    opacity: 0.5;
  }
}
.message {
  padding-top: 7px !important;
  resize: none;
}
.inpPreviewContainer {
  position: relative;
  @include flexMain;
  @include nemorphBox;
  margin: 20px 0 10px 0;
  border-radius: 50%;
  overflow: hidden;
  .imgError {
    position: absolute;
    text-align: center;
    @include flexMain;
  }
  #inpPreview {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3) inset, -2px -2px 8px 0 rgba(255, 255, 255, 0.25) inset;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    object-fit: cover;
    margin: -3px;
    z-index: 1;
    transform: scale(0.9);
  }
}
