@import "../sass/style.scss";

// Google Search
.searchWrapper {
  @media (max-width: 1024px) and (orientation: portrait) {
    width: 95%;
  }
  margin: 0 auto;
  width: 80%;
}
.formWrap {
  width: 100%;
  & .message {
    height: 80px !important;
  }
  & .formInner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: rgba(170, 170, 170, 0.06);
    border-radius: 20px;
    border: none;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.3);
    color: $white;
    padding: 0 55px 0 40px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $white;
      opacity: 0.6;
    }
  }
}
.searchIcon {
  width: 100%;
  position: relative;
  text-align: center;
  & .gSearchBtn {
    color: $white;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    border: none;
    &:focus {
      outline: none;
    }
  }
  & .googleSearch {
    left: 0;
    position: absolute;
    margin: 13px 15px;
    opacity: 0.5;
  }
}

.dateTimeContent {
  font-family: "Lato", sans-serif;
  margin: 20px 0;
  @media (max-width: 1024px) and (orientation: landscape) {
    margin: 0;
  }
}

.home {
  @include flexMain;
  width: 100%;
  height: 100vh;
}
.home {
  & .containerWarp {
    @include containerWarp;
    @media (max-width: 1024px) and (orientation: portrait) {
      width: 90%;
      height: 250px !important;
      padding: 10% 5% 0% 5%;
      height: calc(90% - 54px);
    }
    & .dateTimeContent {
      width: 100%;
      text-align: center;
      & h1 {
        font-size: calc(1rem + 2vw);
      }
    }
  }
}
