@import "../sass/mixinsvars.scss";

// Google Search
.searchWrapper {
  @media (max-width: 1024px) and (orientation: portrait) {
    width: 95%;
  }
  margin: 0 auto;
  width: 80%;
}
.formWrap {
  width: 100%;
  & .message {
    height: 80px !important;
  }
  & .formInner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: rgba(170, 170, 170, 0.06);
    border-radius: 20px;
    border: none;
    box-shadow: inset -2px -2px 9px 0 rgba(255, 255, 255, 0.25), inset 4px 4px 9px 0 rgba(0, 0, 0, 0.5);
    color: var(--white);
    padding: 0 55px 0 40px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: var(--white);
      opacity: 0.6;
    }
  }
}
.searchIcon {
  width: 100%;
  position: relative;
  text-align: center;
  & .gSearchBtn {
    color: var(--white);
    width: 25px;
    background-color: transparent;
    height: 25px;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    border: none;
    transition: box-shadow 500ms ease;
    svg {
      margin-top: -5px;
      fill: var(--white);
    }
    &:focus {
      outline: none;
    }
    &:hover {
      @include neomorphBoxHover;
    }
  }
  & .googleSearch {
    left: 0;
    position: absolute;
    margin: 13px 15px;
    opacity: 0.5;
  }
}

.dateTimeContent {
  margin: 20px 0;
  @media (max-width: 1024px) and (orientation: landscape) {
    margin: 0;
  }
}

.dateTimeContent span {
  font-weight: 100 !important;
  font-size: 120%;
  * {
    font-weight: 100 !important;
  }
}

.home {
  @include flexMain;
  width: 100%;
  height: 100vh;
}

.favorites {
  @include flexMain;
}
