// Variables
:root {
  --mainblockbg: url('https://source.unsplash.com/1920x1080/?ukraine'); //https://source.unsplash.com/1920x1080/?beach
  --blur: blur(20px) !important;

  // Color Scheme
  --white: rgba(224, 224, 224, 1);
  --gray: rgba(52, 58, 64, 1);
  --darkgray: rgb(32, 36, 39, 0.5);
  --nav_heigth: 65px;
}

// Mixin
@mixin nemorphBox {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3), -2px -2px 8px 0 rgba(255, 255, 255, 0.25);
}
@mixin neomorphBoxHover {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3), -2px -2px 8px 0 rgba(255, 255, 255, 0.25);
  border-radius: 50px;
}
@mixin background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@mixin flexMain {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin containerWarp {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 40%;
  padding: 2% 2% 4% 2%;
  overflow: hidden;

  & h2 {
    font-size: 5em;
    @media (max-width: 1024px) {
      font-size: 3em;
    }
  }
}
@mixin nonSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
