@import "../sass/style.scss";

.behProd {
  width: 100%;
  height: 60px;
  & .behProdBtn {
    font-size: 3em;
    transition: font-size 200ms ease, opacity 200ms ease;
    color: $white;
    & .txtBehance {
      font-size: 0px;
      margin: 0 !important;
      opacity: 0;
    }
    &:hover {
      padding: 0 0 2px 0;
      font-size: 3.5em;
      opacity: 1;
    }
  }
}

a.behProdBtn :hover + .txtBehance {
  opacity: 1;
  font-size: 16px;
}
