@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
  --mainblockbg: url("//source.unsplash.com/1920x1080/?beach,bright"); // "url(//h988070k.beget.tech/randomwall.php)"
}
// Color Scheme
$white: rgba(224, 224, 224, 1);
$gray: rgba(52, 58, 64, 1);
$hoverColor: rgba(255, 255, 255, 0.3);
$blue: rgb(32, 105, 118);
$bgcolorNavFt: rgba(52, 58, 64, 1);
$linerGradient: linear-gradient(rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.3));

// Variable
$scale: scale(1.04);
$blur: blur(20px);
// Mixin
@mixin nemorphBox {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3), -2px -2px 8px 0 rgba(255, 255, 255, 0.25);
}
@mixin neomorphBoxHover {
  transition: box-shadow 500ms ease;
  @include nemorphBox;
  border-radius: 50px;
}
@mixin background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-attachment: fixed;
}
@mixin flexMain {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin containerWarp {
  @include flexMain;
  flex-direction: column;
  position: absolute;
  width: 40%;
  padding: 2% 2% 4% 2%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  overflow: hidden;
  @media (max-width: 1024px) and (orientation: landscape) {
    width: 90%;
    padding: 5%;
    height: calc(90% - 54px);
  }
  & h2 {
    font-size: 5em;
    @media (max-width: 1024px) {
      font-size: 3em;
    }
  }
}
@mixin contentInnerBlur {
  content: "";
  background: $linerGradient, var(--mainblockbg);
  @include background;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100vh;
  filter: $blur;
  transform: $scale;
  z-index: -1;
  @media (max-width: 1024px) {
    background-size: cover !important;
  }
  @media (orientation: portrait) {
    background-size: cover !important;
  }
}

// Main Style
div [alt="www.000webhost.com"] {
  display: none;
}
button {
  border: none;
  background: none;
  &:focus {
    outline: none !important;
  }
}
* {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

body {
  @include background;
  background-image: var(--mainblockbg);
  transition: background-image 200ms ease-in-out;
  background-color: $white !important;
  overflow-x: hidden;
  margin: 0;
  @media (max-width: 1024px) {
    background-size: cover !important;
  }
  @media (orientation: portrait) {
    background-size: cover !important;
  }
}

a:hover {
  text-decoration: none !important;
}
// Scroll bar
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $white;
}

a:hover {
  text-decoration: none;
}

// Pages Styles
.MainContent {
  @include flexMain;
  margin: 27px 0 0 0;
  color: $white;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.containerWarp {
  @include containerWarp;
  .dateTimeContent {
    width: 100%;
    text-align: center;
    h2 time {
      font-weight: 100;
    }
    h1 {
      font-size: calc(1rem + 2vw);
      font-weight: 100;
    }
  }
}

.textPcentered {
  text-align: center;
  h2 {
    font-weight: 100;
  }
  p {
    margin: 0;
  }
}

.contentInnerPages {
  height: 80%;
  width: 70% !important;
  @media (max-width: 1024px) and (orientation: landscape) {
    width: 90% !important;
    padding: 5% 5% 8% 5%;
    height: calc(90% - 54px);
  }
  @media (max-width: 1024px) and (orientation: portrait) {
    width: 90% !important;
    padding: 5% 5% 15% 5%;
    height: calc(90% - 54px);
  }
}

.anyPage {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  .faFeatherAlt {
    text-align: center;
    padding: 10px 0 10px 0;
  }
  h2 {
    text-align: center;
    font-weight: 100;
  }

  .empty {
    justify-content: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media (max-width: 1024px) and (orientation: landscape) {
      justify-content: end;
    }
  }
}

.flexColumn {
  display: flex;
  ul {
    flex: auto;
  }
}

// TOOGLE switch on/off blur
.round {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  bottom: 0;
  right: 0;
  margin: 20px;
  border-radius: 50%;
}

.switch-off {
  transition: box-shadow 500ms ease;
  backface-visibility: hidden;
  perspective: 1000;
  &:hover {
    @include nemorphBox;
    color: $white;
  }
}

.switch-on {
  transition: box-shadow 500ms ease-in-out;
  &:hover {
    @include nemorphBox;
    color: $white;
  }
}

// Blur Off
.light-on:before {
  @include contentInnerBlur;
  animation: blurOff 500ms ease;
  filter: none;
  transform: none;
}

@keyframes blurOff {
  from {
    filter: $blur;
    transform: $scale;
  }
}

// Blur On
.contentInner:before {
  @include contentInnerBlur;
  animation: blurOn 500ms ease;
}

@keyframes blurOn {
  from {
    -webkit-filter: blur(0);
    transform: scale(1);
  }
}
