@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
  --mainblockbg: url("//source.unsplash.com/1920x1080/?beach,bright");
}
// Color Scheme
$white: rgba(224, 224, 224, 1);
$gray: rgba(52, 58, 64, 1);
$hoverColor: rgb(110, 187, 201);
$blue: rgb(32, 105, 118);
$bgcolorNavFt: rgba(52, 58, 64, 1);
$linerGradient: linear-gradient(rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.3));

// Variable

$bgUrl: url("//source.unsplash.com/user/erondu/1920x1080"); // h988070k.beget.tech/randomwall.php source.unsplash.com/user/erondu/1600x900
$scale: scale(1.07);
$blur: blur(25px);

// Mixin
@mixin nemorphBox {
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.3), -2px -2px 6px 0 rgba(255, 255, 255, 0.25);
}
@mixin nemorphFilter {
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.4)) drop-shadow(-4px -4px 6px rgba(255, 255, 255, 0.3));
}

@mixin background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@mixin flexMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin containerWarp {
  @include flexMain;
  flex-direction: column;
  position: absolute;
  width: 40%;
  padding: 2% 2% 4% 2%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  overflow: hidden;
  @media (max-width: 1024px) and (orientation: landscape) {
    width: 90%;
    padding: 5%;
    height: calc(90% - 54px);
  }

  & h2 {
    font-size: 5em;
    @media (max-width: 1024px) {
      font-size: 3em;
    }
  }
}

@mixin contentInnerBlur {
  content: "";
  background: $linerGradient, var(--mainblockbg);
  @include background;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100vh;
  filter: $blur;
  transform: $scale;
  z-index: -1;
}

// Main Style
div [alt="www.000webhost.com"] {
  display: none;
}

* {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

body {
  @include background;
  background-image: var(--mainblockbg);
  background-color: $white !important;
  overflow-x: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  text-decoration: none !important;
}
// Scroll bar
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $white;
}

a:hover {
  text-decoration: none;
}
.switchBg {
  position: absolute;
  z-index: 999999;
  border: hidden;
  background: none;
  &:focus {
    outline: none;
  }
}
// Pages Styles
.MainContent {
  @include flexMain;
  margin: 27px 0 0 0;
  color: $white;
  position: absolute;
  width: 100%;
  height: 100vh;
  animation: opacity 0.5s;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.MainContent::after {
  content: "";
  transition: all 1s;
  opacity: 1;
}

.containerWarp {
  @include containerWarp;
  .dateTimeContent {
    width: 100%;
    text-align: center;
    h2 time {
      font-weight: 100;
    }
    h1 {
      font-size: calc(1rem + 2vw);
      font-weight: 100;
    }
  }
}

.textPcentered {
  text-align: center;
  h2 {
    font-weight: 100;
  }
  p {
    margin: 0;
  }
}
.contentInner:before {
  @include contentInnerBlur;
  transition: all 500ms;
}

.contentInnerPages {
  height: 80%;
  width: 70% !important;
  @media (max-width: 1024px) and (orientation: landscape) {
    width: 90% !important;
    padding: 5% 5% 8% 5%;
    height: calc(90% - 54px);
  }
  @media (max-width: 1024px) and (orientation: portrait) {
    width: 90% !important;
    padding: 5% 5% 15% 5%;
    height: calc(90% - 54px);
  }
}

.anyPage {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  .faFeatherAlt {
    text-align: center;
    padding: 10px 0 10px 0;
  }
  h2 {
    text-align: center;
    font-weight: 100;
  }

  .empty {
    justify-content: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media (max-width: 1024px) and (orientation: landscape) {
      justify-content: end;
    }
  }
}

.flexColumn {
  display: flex;
  ul {
    flex: auto;
  }
}

// TOOGLE switch on/off blur
.round {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  bottom: 0;
  right: 0;
  margin: 20px;
  border-radius: 50%;
}

.switch-off {
  background-color: rgba(170, 170, 170, 0.06);
  @include nemorphBox;
  transition: all 500ms;
  &:hover {
    background-color: rgba($color: $hoverColor, $alpha: 0.8);
    color: $white;
    transition: all 500ms;
  }
}

.switch-on {
  background-color: rgba(170, 170, 170, 0.06);
  @include nemorphBox;
  transition: all 500ms;
  &:hover {
    background-color: rgba($color: $hoverColor, $alpha: 0.8);
    color: $white;
    transition: all 500ms;
  }
}

.light-on:before {
  @include contentInnerBlur;
  transition: all 500ms;
  filter: blur(0px) !important;
  transform: scale(1) !important;
}
