@import "../sass/style.scss";

.topNavBar {
  background-color: $bgcolorNavFt;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.topNavBar:before {
  @include contentInnerBlur;
  top: 0px;
}

@media (max-width: 575px) {
  .navbar {
    background-color: $blue;
    & .navbar-toggler {
      border: none;
    }
  }
}

.navbar {
  overflow: hidden;
}
.navbar-nav {
  @include flexMain;
}
.navUnderlineNone:hover {
  text-decoration: none !important;
}

bar-toggler {
  border: 0px solid transparent;
}

.navList {
  color: $gray;
  margin: 0 2vw 0 2vw;
  @media (orientation: portrait) {
    padding: 5px 0 5px 0;
  }
  & p {
    margin: 0;
  }
  &:hover {
    color: $yellow;
  }
}

.myBrand {
  border-radius: 50%;
  background-color: $yellow;
  margin: 0 0 0 15px;
  & span {
    @include flexMain;
    @include background;
    background-image: $bgUrl;
    font-family: "Poppins", sans-serif;
    width: 40px;
    height: 40px;
    font-size: 130%;
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}
