@import "../sass/mixinsvars.scss";

.fixed-top {
  border-radius: 20px;
  margin: 5px;
}

.topNavBar {
  background-color: var(--bgcolorNavFt);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 10px 1px 10px 11px !important;
}
.topNavBar:before {
  @include contentInnerBlurTopBar;
  top: 0px;
}

@media (max-width: 575px) {
  .navbar {
    background-color: var(--gray);
    & .navbar-toggler {
      border: none;
    }
  }
}

.navbar {
  overflow: hidden;
}

.navList p {
  font-weight: 400;
}

.navbar-nav {
  @include flexMain;
}
.navUnderlineNone:hover {
  text-decoration: none !important;
}

bar-toggler {
  border: 0px solid transparent;
}
.navbar-toggler {
  outline: none !important;
}
.navbar-toggler-icon {
  transition: transform 500ms ease;
}

.navbar-toggler:focus:active .navbar-toggler-icon {
  transition: transform 500ms ease;
  transform: scaleX(2);
}
.navList {
  color: var(--white);
  margin: 0 1vw 0 1vw;
  transition: box-shadow 500ms ease;
  padding: 3px 10px 3px 10px;
  border-radius: 50px;
  @media (orientation: portrait) {
    padding: 3px 10px 3px 10px;
    margin: 10px;
  }
  & p {
    margin: 0;
  }
  &:hover {
    color: var(--white);
    @include neomorphBoxHover;
  }
}

.myBrand {
  border-radius: 30%;
  background-color: rgba($color: #ffffff, $alpha: 0.05);
  transition: background-color 300ms ease;
  &:hover {
    background-color: var(--hoverColor);
    transition: background-color 300ms ease;
  }
  @include nemorphBox;
  & span {
    @include flexMain;
    @include background;
    background-image: var(--mainblockbg);
    font-size: 900;
    width: 40px;
    height: 40px;
    font-size: 130%;
    font-weight: 800;
    color: transparent;
    background-clip: text;
  }
}

.switchBg {
  @include flexMain;
  border-radius: 50%;
  width: 20px;
  height: 30px;
  &:focus {
    outline: none;
  }
  &:hover svg {
    transform: rotate(360deg);
    transition: transform 10s ease;
  }

  svg {
    transition: transform 2s ease-out;
    fill: var(--white);
    width: 20px;
    height: 20px;
  }
}
