@import "../sass/style.scss";

.fixed-top {
  border-radius: 20px;
  margin: 5px;
}

.topNavBar {
  background-color: $bgcolorNavFt;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 10px 1px 10px 15px !important;
}
.topNavBar:before {
  @include contentInnerBlur;
  top: 0px;
}

@media (max-width: 575px) {
  .navbar {
    background-color: $blue;
    & .navbar-toggler {
      border: none;
    }
  }
}

.navbar {
  font-family: "Lato", sans-serif;
  overflow: hidden;
}
.navbar-nav {
  @include flexMain;
}
.navUnderlineNone:hover {
  text-decoration: none !important;
}

bar-toggler {
  border: 0px solid transparent;
}
.navbar-toggler {
  outline: none !important;
}
.navbar-toggler-icon {
  transition: all 0.5s;
  transform: rotate(0deg);
}
.navbar-toggler:active .navbar-toggler-icon {
  transition: all 0.5s;
  transform: rotate(90deg);
}
.navList {
  color: $gray;
  margin: 0 2vw 0 2vw;
  @media (orientation: portrait) {
    padding: 5px 0 5px 0;
  }
  & p {
    margin: 0;
  }
  &:hover {
    color: $yellow;
  }
}

.myBrand {
  border-radius: 50%;
  background-color: $yellow;
  & span {
    @include flexMain;
    @include background;
    background-image: var(--mainblockbg);
    font-family: "Lato", sans-serif;
    font-size: 900;
    width: 40px;
    height: 40px;
    font-size: 130%;
    font-weight: 800;
    color: transparent;
    background-clip: text;
  }
}
