.enterYourName {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 999;
  top: 20px;
  left: 80px;
  color: rgba(255, 255, 255, 0.5);

  .labelNameStyle {
    text-transform: uppercase;
  }
  input {
    margin-left: 10px;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    width: 120px;
    height: 30px;
    overflow: hidden;
    border: solid rgba(255, 255, 255, 0.219) 1px;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--white);
  }
  ::-webkit-input-placeholder {
    text-align: center;
  }
  :-moz-placeholder {
    text-align: center;
  }
  input:focus-visible {
    outline: none !important;
  }
}
