@import "sass/mixinsvars.scss";

.bottomNavBar {
  border: solid rgba(255, 255, 255, 0.1) 1px;
  backdrop-filter: var(--blur);
  background-color: var(--darkgray);
  position: absolute !important;
  height: fit-content;
  top: 100vh !important;
  flex-direction: column !important;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  @media (orientation: portrait) {
    flex-direction: column !important;
    height: fit-content;
  }
}
.footer_links {
  margin: 30px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (orientation: portrait) {
    flex-direction: column;
    align-items: center;
  }
}

fixed-top {
  z-index: 5 !important;
}
.navbar-navCustom {
  padding: 20px 0 20px 0;
  @media (max-width: 575px) {
  }
}
.footerwrapper .bottomNavBar {
  display: flex;
  justify-content: center;
  z-index: 5;
}
.copyright {
  margin: 25px;
  bottom: 25px;
  color: var(--white);
}

.mailToFooter a {
  color: var(--white);
  &:hover {
    color: var(--white);
    text-decoration: underline !important;
    text-underline-offset: 5px;
  }
}
